---
layout: header-footer.html.ejs
---

<div class="row">
  <section id="breadcrumb" class="span12">
    <%- breadcrumbsSync(locals) %>
  </section>
  <section id="category-tags" class="span12">
    Date: <%= publicationDate %>
    Tags: <%- tagsForDocument(locals) %>
  </section>
</div>
<div class="row">
  <article class="span10">
    <% if (typeof teaser  !== "undefined") { %><p><strong><%= teaser %></strong></p> <% } %>
    <% if (typeof content !== "undefined") { %><%- content %><% } %>
    <%- partial('disqus.html') %>
  </article>
  <section id="right" class="span2">
    <% if (rightsidebar) { %><%- partial(rightsidebar) %><% } %>
    <%- tagCloud() %>
  </section>
</div>

