---
layout: boot_page.html.ejs
---

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  
  <div class="navbar-collapse collapse navHeaderCollapse">
    <ul class="nav navbar-nav navbar-rights">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/install.html">Installation</a></li>
          <li><a href="/config.html">Configuration</a></li>
          <li><a href="/extensions.html">File names</a></li>
          <li><a href="/layouts.html">Layouts</a></li>
          <li><a href="/deploy.html">Deployment</a></li>
          <li><a href="/metatags.html">Metatags</a></li>
          <li><a href="/about.html">About</a></li>
    </ul>
  </div>
</div>

<div class="container" role="main">
<div class="row">
<header class="col-md-12">
  <div class="row" style="height: 130px;">
    <span class="col-md-8" style="text-align: center;">
      <a href="/"><img src="logo.gif" align="left"/></a>
      <% if (typeof documenttitle !== "undefined") {
         %><h1 align="center"><%= documenttitle %></h1><% 
      } else if (typeof title !== "undefined") {
         %><h1 align="center"><%= title %></h1><% 
      } %>
    </span>
    <span class="col-md-4">
      <form action="http://www.google.com" id="cse-search-box">
        <div>
          <input type="hidden" name="cx" value="partner-pub-2401070691062219:4564101022" />
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="text" name="q" size="55" />
          <input type="submit" name="sa" value="Search" />
        </div>
      </form>
      <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
    </span>
  </div>
      
      <!-- sharing buttons -->
  <div class="row">
    <div class="col-md-12">
      <%- sharethisButtons({
        titleToShare: title,
        publisherID: "c828d855-27af-4910-b7a5-2b9b14030895",
        chiclets: [
          { className: "st_tumblr_large" },
          { className: "st_stumbleupon_large" },
          { className: "st_care2_large" },
          { className: "st_twitter_large" },
          { className: "st_facebook_large" },
          { className: "st_yahoo_large" },
          { className: "st_blogger_large" },
          { className: "st_sharethis_large" }
        ]
      }) %>
      <%- googlePlusSimpleButton() %>
      <%- twitterShareButton() %>
    </div>
  </div>
</header>
</div>

<%- content %>

<footer style="text-align: center; height: 100px;">

  <p>AkashaCMS is<br/> developed by<br/> the author of:

<a href="http://www.amazon.com/gp/product/184951514X/ref=as_li_tf_il?ie=UTF8&tag=thereikipage&linkCode=as2&camp=217145&creative=399373&creativeASIN=184951514X"><img border="0" src="http://ws.assoc-amazon.com/widgets/q?_encoding=UTF8&amp;Format=_SL110_&amp;ASIN=184951514X&amp;MarketPlace=US&amp;ID=AsinImage&amp;WS=1&amp;tag=thereikipage&amp;ServiceVersion=20070822" /></a>
</p>

<a href="https://twitter.com/AkashaCMS" class="twitter-follow-button" data-show-count="false">Follow @AkashaCMS</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<div class="fb-like-box" data-href="http://www.facebook.com/Akashacms" data-width="125" data-height="250" data-show-faces="false" data-stream="false" data-header="true"></div>



</footer>
</div>